body {
  font-family: 'Cairo', sans-serif;
  margin: 0;
  padding: 0;
}

/* Sidebar Styling */
.sidebar {
  width: 250px;
  background-color: #2B9273;
  color: white;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  z-index: 99;
}

.sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #5b9987;
}

.sidebar p {
  text-align: center;
  font-size: 16px;
  color: rgb(221, 221, 221);
  margin-top: 120px;
}

/* Top Navbar Styling */
.navbar {
  width: calc(100% - 250px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: #fff;
  border-bottom: 1px solid rgb(236, 236, 236);
  transition: all 0.3s ease;
}

.navbar img {
  border: 1px solid #2B9273;
  border-radius: 50%;
}

.navbar .icons {
  font-size: 20px;
  color: gray;
  cursor: pointer;
}

.navbar .icons i:hover {
  color: #2B9273;
}

.navbar .icons i {
  display: none;
}
/* Button Styling */
.btn {
  background-color: #2B9273;
  color: #fff;
}

.btn:hover {
  color: #fff;
  background-color: #258065;
}
/* Spacing adjustment for the text beside inputs */
.d-flex span {
  white-space: nowrap;
  margin-right: 10px;
}
.to-date {
  margin-right: 60px;
}
.status {
  margin-right: 20px;
}
.from-date, .to-date span, .status span {
  margin-left: 5px;
}
/* Main Content Area */
.main-content {
  margin-left: 250px;
  padding: 20px;
  transition: all 0.3s ease;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 50px;
}

.card {
  margin-top: 20px;
  background-color: #3fba95;
  color: #fff;
  padding: 15px;
  border: none;
}

canvas {
  width: 300px !important;
  height: 300px !important;
} 
#barChart {
  width: 400px !important;
}
/* Optional styles for better responsiveness */
.canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rejected-card {
  background-color: #e87691;
}
.completed {
  background-color: rgba(75, 192, 192, 0.2); 
}

.rejected {
  background-color: rgba(255, 99, 132, 0.2); 
}
/* Show Sidebar when Menu is Clicked */
.sidebar.active {
  left: 0;
}
/* Responsive Adjustments for Sidebar and Navbar */
@media (max-width: 768px) {
  .sidebar {
    left: -250px; /* Hide sidebar */
  }
  .navbar {
    width: 100%;
    left: 0;
  }
  .main-content {
    margin-left: 0;
    width: 100%;
  }

  input, select {
    margin-bottom: 10px;
  }

  .navbar .icons i {
    display: block;
    font-size: 1.5rem;
  }
  .from-date {
    margin-right: 0px;
  }
  .status {
    margin-right: 0px;
  }
  .canvas-container {
    display: flex;
    flex-direction: column;
  }
 
}
